<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cutive&family=Abril+Fatface&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/nav.css" type="text/css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <title>Covid 19 Tracker| Resources</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <style>

.card{
width: 60%;
margin: 30px auto 0 auto;
min-height: 50px;

padding: 10px;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media(max-width:991px)
{
  .card{
    width: 80%;
  }
}
@media(max-width:767px)
{
  .card{
    width: 90%;
  }
}
@media(max-width:450px)
{
  .card{
    font-size: 14px;
    margin-top: 20px;
  }
}
@media(max-width:350px)
{
  .card{
    font-size: 12px;
    margin-top: 20px;
  }
}
  </style>
  
  <div id="head-placeholder">

</div>
<div class="main container">
<div class="card">
    <div class="card-name">
Covidfyi - Pan India
    </div>
    <div class="card-link">
<a href="https://life.coronasafe.network/">https://life.coronasafe.network/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Covidfyi - Pan India
    </div>
    <div class="card-link">
<a href="https://life.coronasafe.network/">https://life.coronasafe.network/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Fact Checker - Pan India
    </div>
    <div class="card-link">
<a href="https://www.factchecker.in/fact-check/factchecker-verified-covid-19-helplines-remdesivir-hospital-beds-oxygen-743175">https://www.factchecker.in/fact-check/factchecker-verified-covid-19-helplines-remdesivir-hospital-beds-oxygen-743175</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Independent Aggregator- Pan India
    </div>
    <div class="card-link">
<a href="https://covidfood.retool.com/embedded/public/57eb2d29-47b4-4322-aadf-83cf368d2990/">https://covidfood.retool.com/embedded/public/57eb2d29-47b4-4322-aadf-83cf368d2990/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Oxygen- Banglore
    </div>
    <div class="card-link">
<a href="https://oxygenblr.in/">https://oxygenblr.in/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Independent Aggregator- Mumbai
    </div>
    <div class="card-link">
<a href="https://linktr.ee/covid_directory_mumbai">https://linktr.ee/covid_directory_mumbai</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Hospital Beds- Andhra Pradesh
    </div>
    <div class="card-link">
<a href="http://dashboard.covid19.ap.gov.in/ims/hospbed_reports/">http://dashboard.covid19.ap.gov.in/ims/hospbed_reports/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Hospital Beds- Chattisgarh
    </div>
    <div class="card-link">
<a href="https://cg.nic.in/health/covid19/RTPBedAvailable.aspx">https://cg.nic.in/health/covid19/RTPBedAvailable.aspx</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Hospital Beds- Delhi
    </div>
    <div class="card-link">
<a href="https://coronabeds.jantasamvad.org/">https://coronabeds.jantasamvad.org/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Website for Hospital Resources Availability
    </div>
    <div class="card-link">
<a href="https://www.digit.in/news/general/online-covid-19-resources-hospital-beds-medicines-oxygen-supply-59297.html">https://www.digit.in/news/general/online-covid-19-resources-hospital-beds-medicines-oxygen-supply-59297.html</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Ministry of Health and Family Welfare
    </div>
    <div class="card-link">
<a href="https://www.mohfw.gov.in/">https://www.mohfw.gov.in/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
WHO - Covid19
    </div>
    <div class="card-link">
<a href="https://openwho.org/channels/covid-19">https://openwho.org/channels/covid-19</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Covid - Home Treatment
    </div>
    <div class="card-link">
<a href="https://www.youtube.com/watch?v=coK4FRASTcA">https://www.youtube.com/watch?v=coK4FRASTcA</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Short Term Home Oxygen Therapy
    </div>
    <div class="card-link">
<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7567238/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7567238/</a>
    </div>
</div>
<div class="card">
    <div class="card-name">
Indian Express- How to maintain oxygen levels?
    </div>
    <div class="card-link">
<a href="https://indianexpress.com/article/lifestyle/health/dipping-oxygen-levels-coronavirus-india-second-wave-can-do-7296477/">https://indianexpress.com/article/lifestyle/health/dipping-oxygen-levels-coronavirus-india-second-wave-can-do-7296477/</a>
    </div>
</div>
</div>




            <script>
$(function(){
  $("#head-placeholder").load("p");
});


        </script>
            <script src="/js/nav.js"></script>
</body>
</html>