<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> 
   {{!-- <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Potta+One&family=Bebas+Neue&family=Paytone+One&family=Monoton&family=Black+Ops+One&family=Montaga&family=Montserrat:wght@600&display=swap" rel="stylesheet"> --}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
   <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cutive&family=Abril+Fatface&family=Montserrat&display=swap" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="/css/ChartUp.css"> --}}
   <link rel="stylesheet" href="/css/style.css">
    <title>Covid 19 Tracker</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>
<body>
    <style>
  
h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}
.table1{
    overflow-x:auto;
    overflow-y:auto;
    height: 400px;
}
.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}


.container td, .container th {
	  padding:20px
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }





    </style>
    <div>
        <div class="head">
          Covid19India <span>Tracker</span> 
        </div>
        <div class="banner">
           <br><p class="first"> STAY HOME <br> STAY SAFE </p>
           
            <p class="second"> Developed by Mohd Nabeel <br> Check out source code on GitHub</p>
        </div>
    </div>
    <div class="updated bg-dark text-center text-white  m-auto mt-3 p-2">
<i class="fas fa-wrench"></i>  Updated till 22 April 2021
    </div>
    <div>
        <div class="table1">
<table class="container">
	<thead>
		<tr>
			<th><h1>Sites</h1></th>
			<th><h1>Views</h1></th>
			<th><h1>Clicks</h1></th>
			<th><h1>Average</h1></th>
      <th><h1>Average</h1></th>
      <th><h1>Average</h1></th>
      <th><h1>Average</h1></th>
      <th><h1>Average</h1></th><th><h1>Average</h1></th>
      <th><h1>Average</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Google</td>
			<td>9518</td>
			<td>6369</td>
			<td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td><td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>

		</tr>
		<tr>
			<td>Google</td>
			<td>9518</td>
			<td>6369</td>
			<td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td><td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>

		</tr>
		<tr>
			<td>Google</td>
			<td>9518</td>
			<td>6369</td>
			<td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td><td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>

		</tr>
    <tr>
			<td>Google</td>
			<td>9518</td>
			<td>6369</td>
			<td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td><td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>

		</tr>
    <tr>
			<td>Google</td>
			<td>9518</td>
			<td>6369</td>
			<td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td><td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>

		</tr>
    <tr>
			<td>Google</td>
			<td>9518</td>
			<td>6369</td>
			<td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td><td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>
      <td>01:32:50</td>
		</tr>
	</tbody>
</div>
</div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {{!-- <script src="/js/cv19.js"></script> --}}
</body>
</html>