<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/statsgraphs">Stats Graphs</a>
    <a href="/statewise">State wise data</a>
    <a href="/help">Resources</a>

  </div>
  
  <div >
    
            <div class="head">
                <button class="openbtn" onclick="openNav()"><i class="fas fa-bars"></i> </button>
            Covid19India <span>Tracker</span> 
          </div>
  </div>
  
      <div>
  
          <div class="banner">
             <br><p class="first">  </p>
             
              <p class="second"> Developed by Mohd Nabeel <br> Check out source code on <a href="https://github.com/nabeel6223/Covid19tracker">GitHub</a> </p>
          </div>
      </div>